.nav-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
/* Background del nav-bar */
.background{
  position: absolute;
  background: var(--background-nav-bar);
  transition: background-color 1s ease, opacity 1s ease; /* Agrega la transición para background-color y opacity */
  width: 100%;
  height: 100%;
}
/* Función HandleScroll reemplaza .background por .srcolled */
.scrolled {
  opacity: 0;
}
.logo {
  position: absolute;
  width: 50px;
  left: 0;
  top: 1;
  margin-left: 40px;  
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.5s ease-in-out;
}
.logo:hover {
  transform: rotateY(360deg);
}
/* Switch inicia aquí */
.switch {
  display: inline-block;
  position: absolute;
  font-size: 0.6em; /* Tamaño del switch */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888; /* color de letra del switch no selecionado */
  width: 7em;
  height: 4.5em;
  overflow: hidden;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  z-index: 99;
  top: 12px;
  right: 20px;  
  margin: 0px;
} 
.switch::before {
  content: "";
  position: absolute;
  top: 3em;
  left: 0.5em;
  right: 0.6em;
  bottom: 0;
  background-color: rgba(123, 118, 142, 0.979);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.left-switch,
.right-switch {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
  user-select: none;
}
.left-switch {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}
.right-switch {
  right: 0.5em;
  bottom: 0;
  background-color: #0084d0;
  color: #fff;
}
.left-switch::before,
.right-switch::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}
.left-switch::before {
  left: -0.4em;
}
.right-switch::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}
input:checked + .left-switch {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}
input:checked + .left-switch::before {
  background-color: transparent;
  width: 3.0833em;
}
input:checked + .left-switch + .right-switch {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.9em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}
input:checked + .left-switch + .right-switch::before {
  background-color: #ccc;
}
/* Background del nav-bar activo después del scroll */
.background-scroll-en{
  position: fixed;
  background: linear-gradient(to top, rgba(8, 2, 30, 0.979), rgba(15, 2, 62, 0.979));
  border-radius: 0 0 20px 20px;
  width: 590px;
  height: 83px;
}
.background-scroll-es{
  position: fixed;
  background: linear-gradient(to top, rgba(8, 2, 30, 0.979), rgba(15, 2, 62, 0.979));
  border-radius: 0 0 20px 20px;
  width: 660px;
  height: 83px;
}
.nav-bar li {
  display: inline-block;
  padding: 20px;
}
.nav-bar .options {
  text-decoration-line: none;
  color: #FFFFFF;
}
.nav-bar a {
  display: block;
  position: relative;
  overflow: hidden;
}
.nav-bar a span:first-child {
  display: inline-block;
  padding: 10px;
}
.nav-bar a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
.nav-bar a span {
  transition: transform 0.2s ease-out;
}
.nav-bar a:hover span:first-child {
  transform: translateY(100%);
}
.nav-bar a:hover span:last-child {
  transform: none;
}
/* Nav-bar modo mobile */
.mobile-nav-bar {
  background: none;
  border: none;
  display: none;
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
}
.mobile-nav-bar:hover{
  transform: rotate(180deg);
}
/* burger button */
.burger-btn{
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 2.5rem;
  border: 0;
  background: transparent;
  margin-top: 18px;
}
.burger-btn div:not(:last-child) {
  margin-bottom: 4.8px;
}
.burger-btn div{
  background-color: rgb(254, 254, 254);
  height: 2.5px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: center;
}
.burger-btn.clicked div:nth-child(1) {
  transform: translateY(7.2px) rotate(45deg);
}
.burger-btn.clicked div:nth-child(2) {
  opacity: 0;
}
.burger-btn.clicked div:nth-child(3) {
  transform: translateY(-7.2px) rotate(-45deg);
}
/* Light mode - Dark mode */
.theme-change{
  position: absolute;
  right: 110px;
  top: 29px;
  z-index: 99;
}
.icon-toggle{
  font-size: 20px;
}
.bxs-sun{
  color: rgb(255, 209, 3);
  transition: 0.5s;
}
.bxs-moon{
  transition: 0.5s;
  color: rgb(117, 161, 197);
  
}
.toggle{
  width: 60px;
  height: 25px;
  background: linear-gradient(90deg, rgba(7, 38, 136, 1) 0%, rgba(0, 129, 212, 1) 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  z-index: 10;
}
.left-toggle{
  width: 18px;
  height: 18px;
  margin-left: 5px;
  transition: all .5s;
  cursor: pointer;
}
.right-toggle{
  margin-left: 36px;
  width: 18px;
  height: 18px;
  transition: all .5s;
  cursor: pointer;
}

@media (max-width: 992px){
.nav-bar li {
  padding: 5px;
  font-size: 15px;
}
.nav-bar .logo {
  top: 0;
  width: 40px;
  margin-top: 6px;
  margin-left: 30px;
}
.background-scroll-en{
  border-radius: 0 0 10px 10px;
  width: 422px;
  height: 53px;
  margin-left: 0;
}
.background-scroll-es{
  border-radius: 0 0 10px 10px;
  width: 490px;
  height: 53px;
  margin-left: 0;
}
.switch{
  top: 5px;
  right: 10px; 
  font-size: 0.45em; /* Tamaño del switch */
}
input:checked + .left-switch + .right-switch {
  right: 0.8em;
}
.theme-change{
  top: 18px; 
  right: 80px;
}
.toggle{
  width: 45px;
  height: 19px;
}
.icon-toggle{
  font-size: 15px;
}
.left-toggle{
  height: 13px;
  margin-top: -8px;
}
.right-toggle{
  height: 13px;
  margin-top: -8px;
  margin-left: 25px;
}
}

@media (max-width: 768px){
.nav-bar {
  display: flex;
  justify-content: flex-end;
  height: 50px;
}
.background{
  background: none;
}
.logo {
  margin-top: 6px;
  width: 45px;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  background-image: linear-gradient(to top, rgba(8, 2, 30, 0.979), rgba(15, 2, 62, 0.979));
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: calc(100% - 40px);
  transform: translateX(0); /* transicion para esconder en nav */
  transition: 0s;
  overflow-y: auto;
  left: 100%;
  z-index: 20;
}
.nav-list.Open {
  transform: translateX(-100%) !important;
  transition: 0.5s ease-out;
}
.nav-list.Close {
  transform: translateX(100%) !important;
  transition: 1s ease-out;
}
/* Pantalla oscura del navbar mobile */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.539);
  z-index: 1;
  display: none;
}
.overlay.show {
  display: block;
}
.switch{  
  top: 325px;
  left: 50%;
  transform: translateX(-50%);
}

input:checked + .left-switch + .right-switch {
  right: 0.9em;
}
.right-switch {
  right: 0.6em;
}
/* Estilo del borde del menú hamburguesa */
.background-scroll-en{
  border-radius: 0;
  width: 100%;
  margin-left: 0;
}
.background-scroll-es{
  border-radius: 0;
  width: 100%;
}
.options{
  top: 60px;
} 
.mobile-nav-bar {
  display: block;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 30px;
  z-index: 21;
}
.theme-change{
  top: 390px;  
  left: 50%;
  transform: translateX(-50%);
  width: 43px;
}
.toggle{
  width: 45px;
  height: 19px;
}
.left-toggle{
  width: 13px;
  height: 13px;
}
.right-toggle{
  margin-left: 25px;
}
}