.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  margin-top: 200px;
}
.projects-text {
  font-size: 45px;
  margin-top: 100px;
  position: relative;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px #0066ff, 0 0 20px #0066ff, 0 0 30px #0066ff;
}
.projects-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease;
}
.projects-text:hover::after {
  width: 100%;
}
.projects div {
  background-color: #222226;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  border-radius: 15px;
  text-align: center;
  user-select: none;
}
.container-descriptions {
  background-color: #121824 !important;
  border-radius: 15px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  transition: all 0.3s ease;
  padding: 15px 0 15px 0;
}
.line-style {
  background-color: #121824 !important;
  width: 290px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.line-style::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: conic-gradient(#0060ff 20deg, transparent 80deg);
  animation: rotar 1s linear infinite;
  border-radius: 10px;
}
@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.card-description {
  background-color: #171c45;
  width: 280px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  z-index: 1;
}
.card-description:hover {
  background-color: #171c45;
  transition: all 0.3s ease;
}
.gif {
  width: 25%;
}
.number {
  color: #2986e3;
  font-size: 35px;
  margin-top: 10px;
}
.text-description {
  font-size: 20px;
  width: 40%;
  margin-top: -15px;
}

@media (max-width: 1200px) {
  .container-descriptions {
    padding: 0;
  }
  .line-style {
    width: 250px;
    height: 220px;
  }
  .card-description {
    width: 240px;
    height: 210px;
  }
  .gif {
    width: 22%;
  }
  .number {
    font-size: 30px;
    margin-top: 5px;
  }
  .text-description {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .projects-text {
    font-size: 45px;
    margin-top: 60px;
  }
  .container-descriptions {
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .projects {
    margin-top: 515px;
  }
  .projects-text {
    margin-top: 20px;
    font-size: 35px;
  }
  .line-style {
    width: 190px;
    height: 180px;
  }
  .card-description {
    width: 180px;
    height: 170px;
  }
  .number {
    font-size: 25px;
  }
  .text-description {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .container-descriptions {
    width: 250px;
  }
}
