.skills {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    user-select: none;
}
.imageComputerSkills {
    margin-top: 100px;
    width: 50%;
}
.lightOne {
    position: absolute;
    left: -15em;
    top: 35em;
}
.computerSkills {
    font-size: 45px;
    border-radius: 10px;
    border-bottom: 2px solid rgba(182, 148, 225, 0.8);
}

@media (max-width: 992px){
.skills {
    margin-top: 80px;
}
.lightOne {
    top: 30em;
    width: 600px;
}
.imageComputerSkills {
    margin-top: 60px;
    width: 90%;
}
.computerSkills {
    font-size: 35px;
}
}

@media (max-width: 768px){
.skills {
    margin-top: 30px;
}
.lightOne {
    top: 15em;
    width: 450px;
}
.imageComputerSkills {  
    margin-top: 40px;
    width: 150%;
}
.computerSkills {
    font-size: 25px;
}
}
